@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #025259, #007172);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(2, 53, 58, 0.829);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D94F04;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(110, 40, 3, 0.835);
}

h2 {
    color: #F29325;
}

p {
    text-align: justify;
}