@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #95d8fa;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #143140;
}

h1#principal {
    text-align: center;
    background-color: #143140;
    color: white;
}

h2 {
    color: #225269;
}

.basico {
    color: #22692e;
}

.intermediario {
    color: #686922;
}

.avancado {
    color: #692222;
}

.destaque {
    background-color: rgba(204, 204, 53, 0.671);
}