@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(172, 238, 210);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(49, 68, 60);
}

h1#principal {
    text-align: center;
    background-color: rgb(49, 68, 60);
    color: white;
}

h2 {
    color: rgb(79, 109, 96);
}